* {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* body {
  background: url(../../../public/splash-page.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background-image 1s linear;
} */

#splash-container {
  background: url(../../../public/splash-page.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}
::-webkit-scrollbar-thumb {
  background-color: rgba(70, 67, 67, 0.432);
}

.logo {
  background: transparent;
}
nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  width: 300px;
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: -webkit-center;
}
nav > div {
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
}
button {
  cursor: pointer;
}
nav button {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #000807;
}
nav .rightNav button {
  margin-left: 20px;
}

.rightNav #signin {
  font-weight: 700;
  opacity: 0.9;
  border-radius: 7px;
  transition-property: background-color;
  transition-duration: 1.2s;
}
.rightNav #signin:hover {
  background-color: rgb(208 149 73 / 66%);
  color: white;
}
nav .leftNav {
  display: flex;
  align-items: flex-start;
}
nav h2 {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 30px;
}
nav img {
  width: 35px;
  height: 35px;
  flex-grow: 1;
}
.titleContent {
  width: 500px;
  margin-left: 50px;
}
.titleContent p {
  margin: 0px;
  margin-bottom: 20px;
}
.titleContent button {
  color: white;
  font-weight: 700;
  padding: 15px;
  width: 100px;
  font-size: 15px;
  background-color: rgb(208 149 73 / 66%);
  border: none;
  border-radius: 7px;
  /* transition-property: opacity; */
  transition-property: background-color;
  transition-duration: 0.8s;
  opacity: 0.85;
  margin-left: 20px;
}

.titleContent button:hover {
  background-color: rgba(204, 167, 118, 0.66);
  color: white;
}

footer {
    position: -webkit-sticky;
    /* bottom: 0; */
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    /* padding-right: 2vw; */
    height: 7vh;
    width: 100vw;
}

footer a i {
  background-color: #309c6d;
  color: #ffffff;
  padding: 6px;
  border-radius: 15px;
  margin: 0 20px 0 20px;
}
