* {
  font-family: Arial, Helvetica, sans-serif;

}


body {
  background: url(../../../public/splash-page.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    transition: background-image 1s linear;
}
/* #splash-container {
    background-image: url(../../../public/splash-page.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    transition: background-image 1s linear;
} */
#imgCache {
    display: none;
}
/* .wrapper {
  color: #000807;
  position: fixed;
  height: 100%;
  width: 100%;
} */
.logo {
  background: transparent;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 130px;
}
h1 {
  width: 300px;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
nav > div {
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
}
button {
  cursor: pointer;
}
nav button {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #000807;
}
nav .rightNav button {
  margin-left: 20px;
}

.rightNav #signin {
  opacity: .9;
  border-radius: 7px;
  transition-property: background-color;
  transition-duration: 1.2s;
}
.rightNav #signin:hover {
  background-color: rgb(30, 36, 87);
  color: white;
}
nav .leftNav {
  display: flex;
  align-items: flex-start;
}
nav h2 {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 30px;
}
nav img {
  width: 35px;
  height: 35px;
  flex-grow: 1;
}
.titleContent {
  width: 500px;
  margin-left: 50px;
}
.titleContent p {
  margin: 0px;
  margin-bottom: 20px;
}
.titleContent button {
  color: white;
  padding: 15px;
  width: 100px;
  font-size: 15px;
  background-color: rgb(25, 33, 100);
  border: none;
  border-radius: 7px;
  /* transition-property: opacity; */
  transition-property: transparent;
  transition-duration: .8s;
  opacity: .85;


}


.titleContent button:hover {
  background-color: rgb(30, 36, 87);
  color: white;
}
