.album-nav {
 position: fixed;
 gap: 1000px;
}

.album-lef-Nav {
        display: flex;
        margin-block-end: auto;
}

.album-section-div {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albums-preview-item-div {
  text-align-last: center;
}

a {
  text-decoration: none;
  color: antiquewhite;
  align-items: center;
}

.albums-preview-image {
  /* border-radius: 10px; */
  /* display: inline-block; */
  /* margin-bottom: 10px; */
  width: 30%;
}

.photo-grid-list {
  /* list-style-type: none; */
  /* padding-inline-start: 0; */
  /* column-count: 4; */
  display: flex;
  /* flex-direction: column; */
  /* column-count: 4; */
  flex-wrap: wrap;
  place-content: center;
}

.album_container {
  text-align: -webkit-center;
}

.album_content {
  text-align: center;
  font-family: cursive;
  color: rgb(148, 139, 58);
  font-size: 25px;
}

.input-form {
  height: 30px;
  width: fit-content;
  font-size: 18px;
  font-family: monospace;
  border: groove;
  border-radius: 10px;
  border-width: thick;
  resize: none;
  padding: 10px;
}

.text-form {
  font-family: monospace;
  font-size: 18px;
  height: 200px;
  width: 550px;
  border: groove;
  border-radius: 10px;
  border-width: thick;
  resize: none;
  padding: 10px;
}

.album-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.submit-button {
  color: #35444b;
  background-color: #bb8c75;
  font-size: 14px;
  width: fit-content;
  box-shadow: 0 0 2px #687980;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #3f5f6d;
  color: #bb8c75;
}
