#splash-container {
  background: url(../../../public/splash-page.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#splash-container::-webkit-scrollbar {
  display: none;
}

#album-splash-container {
  background: url(../../../public/Egypt-Papyrus-background.png) no-repeat center
    center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

#album-splash-container::-webkit-scrollbar {
  display: none;
}

.album-nav {
  /* position: fixed; */
  /* gap: 1050px;
  width: fit-content; */
  display: flex;
  justify-content: space-between;
  height: 150px;
  /* overflow: hidden; */
  overflow-x: visible;
}

.album-lef-Nav {
  display: flex;
  margin-block-end: auto;
}

.nav-add{
  display: flex;
  gap: 7px;
  font-weight: 550;
  color: white;
  border: none;
  border-radius: 7px;
  transition-property: background-color;
  transition-duration: 1.2s;
  font-size: 17px;
}

.nav-add:hover {
    background-color: rgb(208 149 73 / 66%);
}

.nav-delete {
  margin-left: 50px;
}

#albumdelete {
  color: white;
  font-weight: 700;
  padding: 12px;
  width: max-content;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #000807;
  border: none;
  border-radius: 7px;
  transition-property: background-color;
  transition-duration: 1.2s;
}

#albumdelete:hover {
  background-color: rgb(208 149 73 / 66%);
  color: rgb(248, 11, 11);
}

.album-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: rgb(44 44 40);
  font-family: "Neonderthaw", cursive;
  font-size: 70px;
}

#album-desc {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 25px;
  color: #2c2222ba;
}

.album-section-div {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albums-preview-item-div {
  text-align-last: center;
}

a {
  text-decoration: none;
  color: antiquewhite;
  align-items: center;
}

.albums-preview-image {
  /* border-radius: 10px; */
  /* display: inline-block; */
  /* margin-bottom: 10px; */
  width: 30%;
}

.photo-grid-list {
  /* list-style-type: none; */
  /* padding-inline-start: 0; */
  /* column-count: 4; */
  display: flex;
  /* flex-direction: column; */
  /* column-count: 4; */
  flex-wrap: wrap;
  place-content: center;
}

.album_container {
  text-align: -webkit-center;
}

.album_content {
  text-align: center;
  font-family: cursive;
  color: rgb(148, 139, 58);
  font-size: 25px;
}

.input-form {
  height: 22px;
  width: fit-content;
  font-size: 18px;
  font-family: monospace;
  border: groove;
  border-radius: 10px;
  border-width: thick;
  resize: none;
  padding: 10px;
}

.text-form {
  font-family: monospace;
  font-size: 18px;
  height: 130px;
  width: 400px;
  border: groove;
  border-radius: 10px;
  border-width: thick;
  resize: none;
  padding: 10px;
}

.edit-input-form {
  height: 30px;
  width: -moz-fit-content;
  font-size: 18px;
  border: groove;
  border-radius: 10px;
  border-width: thick;
  resize: none;
}


.edit-text-form {
  font-size: 18px;
  height: 73px;
  width: 300px;
  border: groove;
  border-radius: 10px;
  border-width: thick;
  resize: none;
}

.album-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.submit-button {
  color: #35444b;
  background-color: #bb8c75;
  font-size: 14px;
  width: fit-content;
  box-shadow: 0 0 2px #687980;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #3f5f6d;
  color: #bb8c75;
}

/* Single Album-page */

.album-photo-grid-list {
  /* display: flex; */
  /* padding-top: 70px; */
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  column-count: 3;
  /* margin-left: 230px;
    margin-top: 100px; */
  /* box-sizing: border-box; */
  /* justify-content: flex-end; */
  gap: 0px;
  border-radius: 10px;
}

.photoLi {
  position: relative;
  height: 400px;
  margin: 0px 10px 20px 40px;
  overflow: hidden;
  border-radius: 20px;
}

.img {
  /* padding: 20px; */
  height: 99%;
  width: 80%;
  border-style: outset;
  border-radius: 20px;
  /* box-sizing: border-box; */
  /* justify-content: flex-end; */
  /* height: 200px; */
  /* width: 500px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 72%); */
}

#photo-mask {
  color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 80%;
  height: 99%;
  position: absolute;
  top: 0px;
  transition: all 0.5s linear;
  border-style: outset;
  border-radius: 20px;
}

.photoLi:hover > #photo-mask {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.mask-button:hover {
  cursor: pointer;
}

.mask-button {
  font-size: 18px;
  margin: 10px 13px 10px 15px;
}

.img-title {
  font-size: 18px;
  margin: 10px 5px 10px 15px;
  cursor: pointer;

}
