.profile-dropdown {
  /* z-index: 1;
  display: flex;
  color: rgb(0, 0, 0);
  background-color: white;
  flex-direction: column;
  position: absolute;
  padding: 10px 0;
  right: 20px;
  top: 60px;
  list-style: none;
  border-radius: 5px;
  font-size: 1rem; */
background-color: white;
    /* flex-direction: column; */
    position: absolute;
    padding: 10px 9px 5px 5px;
    right: 48px;
    /* top: 60px; */
    list-style: none;
    border-radius: 5px;
        font-size: 15px;
}

.profile-dropdown li {
  padding: 8px 7px;
}

#NavLogout {
  color: rgba(220, 20, 60, 0.952);
  cursor: pointer;

}
