.searchContainer > input {
  background-color: transparent;
  color: rgb(255 255 255);
  padding: 5px;
  font: caption;
  /* margin: 5px; */
  /* margin: 0 auto; */
  /* margin-left: 5px; */
  margin-top: 7px;
  border-radius: 10px;
  width: 95%;
  pointer-events: all;
}
.searchbar:focus {
  /* border: 2px solid rgb(10, 11, 12); */
}
#search-ul {
  border: 1px solid rgba(54, 55, 59, 1);
  border-radius: 5px;
  padding-inline-start: 0px;
  background-color: rgb(30, 34, 49);
  max-height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 97%;
}
#search-ul::-webkit-scrollbar{
    /* -webkit-border-radius: 10px; */
    /* border-radius: 10px; */
    /* background: #3b3838; */
    width:0px;
}
.searchContainer ul > li {
  /* margin: 0 auto; */
  color: lightgrey;
  display: inline-block;
  vertical-align: top;
  padding: 8px 7px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid rgba(54, 55, 59, 1);
  width: 100%;
  pointer-events: all;
  overflow: hidden;
}
.searchContainer li > div {
  margin-left: 20px;
}
.searchContainer ul > li:hover {
  cursor: pointer;
  background-color: rgb(41, 36, 87);
}

.searchContainer {
  /* position: absolute; */
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  /* margin-left: 120px;
    margin-top: 220px; */
  justify-content: space-between;
  align-items: center;
  width: 40%;
  min-height: 250px;
  /* height:300px; */
  justify-content: flex-start !important;
  z-index: 5;
  pointer-events: none;
}
