#photo-page {
  background: url(../../../public/Egypt-Papyrus-background.png) no-repeat center
    center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-overflow-style: none;
  overflow: scroll;
  scrollbar-width: none;
  height: 100vh;
}

#photo-page::-webkit-scrollbar {
  display: none;
}


.nav-logout {
  display: flex;
  gap: 3px;
  font-weight: 550;
  color: white;
  border: none;
  border-radius: 7px;
  transition-property: background-color;
  transition-duration: 1.2s;
  font-size: 17px;

}

.nav-logout:hover {
  background-color: rgb(208 149 73 / 66%);
  color: rgba(220, 20, 60, 0.952);
}

#nav-size {
  font-size: 22px;
}
.img-grid {
  box-sizing: border-box;
  /* justify-content: flex-end; */
  height: 200px;
  width: 245px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  /* background-size: cover; */
  /* font-weight: 700; */
  /* font-size: 16px; */
  box-shadow: 0 5px 10px rgb(0 0 0 / 72%);
}

.img-grid:hover {
  box-shadow: -2px -2px 10px rgb(0 0 0 / 72%);
}

/* .album-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
} */

.photoGrid {
  column-count: 4;
  margin-left: 30px;
  margin-top: 100px;
  transition: all 0.2s ease;
}

.photoGrid:hover {
  transform: translate(2px);
}

.photo-container {
  text-align: center;
}

.single-image {
  width: 70%;
  border-style: outset;
  border-radius: 15px;
  box-shadow: 0 7px 10px rgb(0 0 0 / 45%);
}

.img-upload {
  display: none;
}

.material-icons {
  align-self: center;
  color: white;
  cursor: pointer;
  padding-top: 110px;
}

.edit-Form {
  position: absolute;
  border-radius: 15px;
  padding: 15px;
  width: 94%;
  text-align: -webkit-center;
}

.form-contents {
  background-color: #c3b17d;
  width: 314px;
  padding: 15px;
  border-radius: 15px;
  text-align-last: center;
}
