#photo-page {
  background: url(../../../public/Egypt-Papyrus-background.png) no-repeat center
    center fixed;
  background-repeat: no-repeat;
  background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-overflow-style: none;
  overflow: scroll;
  scrollbar-width: none;
  height:100vh;
}

#photo-page::-webkit-scrollbar {
  display: none;
}

.photo-nav{
  gap: 1150px;
  width: fit-content;
}

.img-grid {
  box-sizing: border-box;
  /* justify-content: flex-end; */
  height: 200px;
  width: 245px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  /* background-size: cover; */
  /* font-weight: 700; */
  /* font-size: 16px; */
  box-shadow: 0 5px 10px rgb(0 0 0 / 72%);
}

.img-grid:hover {
  box-shadow: -2px -2px 10px rgb(0 0 0 / 72%);
}

/* .album-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
} */

.photoGrid {
  column-count: 4;
  margin-left: 30px;
  margin-top: 100px;
}

.photo-container {
  text-align: center;
  margin-top: 50px;
}

.single-image {
  width: 70%;
  border-style: outset;
  border-radius: 15px;
  box-shadow: 0 7px 10px rgb(0 0 0 / 45%);
}

.img-upload {
  display: none;
}

.material-icons {
  align-self: center;
  color: white;
  cursor: pointer;
}
