.comments-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 30px;
  height: 500px;
}
.comments-title {
  text-align: left;
  padding: 15px 0px 0px 15px;
}
.photo-comments {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px 15px 0px 15px;
}

.comments-div {
  border: 1px black solid;
  border-radius: 15px;
  text-align: left;
}

.author-layout {
  background: grey;
  height: 35px;
}

#author {
  padding: 6px 0px 0px 15px;
  margin: 0;
}

.content {
  padding: 6px 0px 0px 15px;

}
