#not-found {
  background-image: url("../../../public/not-found.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.Hieroglyphics {
  background-image: url("../../../public/Page-not-found.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-position-x: center;
  height: 500px;
  font-weight: 700;
  margin-right: 70px;
}

.container {
  height: 100vh;
  font-family: "Montserrat", "sans-serif";
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.container h1 {
  width: fit-content;
  color: crimson;
  margin-top: 346px;
  overflow: hidden;
  margin-right: 15px;
}

.not-back {
  color: red;
  align-items: center;
  border: solid;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
}

.not-back:hover {
  color: crimson;
  background-color: rgb(99, 17, 34);
}
